* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  overflow-y: scroll;
}

h1 {
  /*color: #232d8b;*/
  color: #ff7e00;
  font-size: 30pt;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  color: #ff7e00;
  font-size: 24pt;
  font-weight: bold;
}

h3 {
  color: #ff7e00;
  font-size: 18pt;
  font-weight: bold;
}

p {
  color: #232d8b;
  font-size: 12pt;
}

a:link {
  color: #ff7e00;
}

a:visited {
  color: #ff7e00;
}

.header {
  position: sticky;
  top: 0;
  height: 50px;
  width: 66vw;
  background-color: #232d8b;
  margin-bottom: 30px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 29px) 100%, 200px 100%, 200px 150%, 0 150%);
  z-index: 10;
}

.header nav {
  position: absolute;
  top: 0;
  left: 150px;
}

.header nav div {
  position: relative;
  /*width: 150px;*/
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  color: white;
  cursor: pointer;
  padding: 0 40px;
}

.header nav div:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.active-tab {
  text-decoration: underline;
  text-decoration-color: white !important;
}

.logo-box {
  position: relative;
  height: 60px;
  cursor: pointer;
}

.logo-img {
  position: absolute;
  left: 10px;
  top: 5px;
  height: 45px;
}

main {
  display: grid;
  grid-template-columns: 66vw 34vw;
  grid-template-areas: "content news";
  min-height: calc(100vh - 160px);
  overflow-x: hidden;
}

main section {
  grid-area: content;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 45px;
  float: left;
}

#sikkerhedsinfo, #kurser, #kontakt {
  display: none;
}

.active-page {
  display: initial !important;
}

.forside-billede {
  float: right;
  width: 250px;
  height: 250px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.newsfeed {
  position: fixed;
  /*grid-area: news;*/
  width: 34vw;
  right: 0;
  top: 0;
  float: left;
  box-sizing: border-box;
  margin-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  height: calc(100% - 130px);
}

.newsfeed::before {
  content: "";
  position: absolute;
  left: 0;
  height: calc(100% - 40px);
  width: 3px;
  background-color: #232d8b;
  opacity: 0.5;
  top: 20px;
  border-radius: 3px;
}

.newsfeed ul {
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
}

.newsfeed li {
  color: #232d8b;
  font-size: 12pt;
  margin-top: 20px;
}

.button {
  position: relative;
  background-color: #ff7e00;
  color: white;
  overflow: hidden;
  height: 50px;
  width: 200px;
  cursor: pointer;
  margin: 20px 0 20px -29px;
  clip-path: polygon(29px 0, 100% 0, 171px 100%, 0 100%);
  box-shadow: 0 -3px 0 0 #b45900 inset;
}


.button::before {
  content: "";
  position: absolute;
  right: 15px;
  top: -5px;
  background-color: #b45900;
  height: 60px;
  width: 3px;
  transform: rotate(30deg);
  z-index: -1;
}

.button:hover {
  filter: brightness(120%);
}

.button p {
  position: absolute;
  display: block;
  color: white;
  font-size: 24pt;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  font-kerning: none;
  font-style: italic;
  top: calc(50% - 1px);
  left: calc(50% - 3px);
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

#kurser .kursuskasse, .koronakasse {
  position: relative;
  color: #232d8b;
  /*background-color: #efefef;*/
  padding: 10px 30px;
  border: 1px solid #232d8b;
}

.kursuskasse p {
  width: calc(100% - 75px);
}

.koronakasse {
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #ff7e00;
}

.kursusknap {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  line-height: 25px;
  color: white;
  text-decoration: underline;
  background-color: #ff7e00;
  padding: 0 25px;
  margin: 10px;
  clip-path: polygon(14px 0, 100% 0, calc(100% - 14px) 100%, 0 100%);
  cursor: pointer;
}

.kursusknap:hover {
  filter: brightness(120%);
}

.citat {
  font-size: 13pt;
  font-style: italic;
  font-weight: bold;
}

.statistikker {
  color: #232d8b;
}

.statistikker h3 {
  margin-bottom: 15px;
}

.statistikker ul {
  box-sizing: border-box;
  width: 50%;
  padding: 20px;
  float: left;
}

.statistikker li {
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 10px;
}

#kontakt form * {
  display: block;
  color: #232d8b;
}

#kontakt form textarea {
  width: calc(100% - 20px);
}

footer {
  position: relative;
  background-color: #232d8b;
  right: 0;
  bottom: 0;
  width: 66%;
  height: 50px;
  float: right;
  margin-top: 30px;
  clip-path: polygon(29px 0, 100% 0, 100% 100%, 0 100%)
}

footer p {
  color: white;
  text-align: right;
  line-height: 50px;
  box-sizing: border-box;
  padding-right: 20px;
  white-space: pre;
}

footer i {
  color: white;
  font-size: 25px;
  vertical-align: middle;
}

.fa-envelope {
  font-size: 30px;
}

.fa-twitter-square, .fa-facebook-square {
  font-size: 28px;
}
